*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    max-height: 100vh;
    line-height: 1.6;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    background-color: #757969;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wrapper {
    background-color: #757969;
}

.competences {
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 5px 10px 27px -4px #282828;
}

section {
    padding: 1em;
    max-width: 60vw;
    margin: auto 3rem;
}

.title {
    font-family: 'DM Serif Display', serif;
    text-decoration: none;
    color: #fcf9f4;
}

.title:hover {
    text-decoration: none;
}

.title:active {
    text-decoration: none;
}

.title:visited {
    text-decoration: none;
}

.aNav {
    color: #fcf9f4;
    text-decoration: none;
    font-family: 'Noto Serif', serif;
    transition: font-size 0.2s ease-in-out;
    display: flex;
    align-items: center;
}

.aNav:hover {

    text-decoration: none;
    padding: 0;
    font-size: larger;
}

.aNav:active {
    text-decoration: none;
}

.aNav:visited {
    text-decoration: none;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: 'DM Serif Display', serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

h4 {
    font-family: 'DM Serif Display', serif;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

h5 {
    font-family: 'DM Serif Display', serif;
    font-size: 1em;
    text-align: center;
    margin: 0;
    padding: 0;
}

h6 {
    font-family: 'DM Serif Display', serif;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Noto Serif', serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: 'Noto Serif', serif;
    transition: font-size 0.2s ease-in-out;
}

a:hover {
    text-decoration: none;
    padding: 0;
    font-size: larger;
}

a:active {
    text-decoration: none;
}


