@import 'reset.css';
@import 'base.css';

@import 'map.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Serif&family=Raleway&display=swap');

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #444440;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav2 {
    & ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        gap: 1.2rem;
        /* responsive */
        @media (max-width: 768px) {
            flex-direction: column;
            gap: 1rem;
        }
    }
}

li {
    padding: .25rem;
    margin: .5rem .5rem .15rem .5rem;
}

button {
    font-family: 'Raleway', sans-serif;
    font-size: small;
    font-weight: 400;
    padding: .5rem;
    margin: .25rem;
    border-radius: 5px;
    border: none;
    background-color: #444440;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

button:hover {
    background-color: #757969;
    font-weight: 600;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    margin: 2rem auto;
    /* responsive */
    @media (max-width: 768px) {
        max-width: 80vw;
        margin: 1rem auto;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    @media (max-width: 768px) {
        gap: .5rem;
    }
}

.content div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.btn-holder {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .25rem;
    width: 30%;
}

article {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (max-width: 768px) {
        width: 90%;
    }
}

.article-inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.article-inner p {
    padding: .5rem;
}

footer .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #444440;
    color: #fff;
    font-size: small;
    font-weight: 400;
}

.links_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.links_div a {
    margin: 0;
    width: 33%;
}

img {
    width: 50px;
    height: 50px;
}



.competences {
    & article {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 1rem;

        & .article-inner {
            width: 70%;
            @media (max-width: 768px) {
                width: 100%;
            }

            & p {
                padding: 0;
                margin: 0;
                text-align: start;
            }
        }

        & .article-picture {
            width: 30%;
            @media (max-width: 768px) {
                display: none;
            }

            & img {
                width: 100%;
                height: auto;
                object-fit: cover;
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }

}
