@import './reset.css';
@import './base.css';
@import './map.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Serif&family=Raleway&display=swap');
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #444440;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}
.nav2 ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
li{
    padding: .25rem;
    margin: .5rem .5rem .15rem .5rem;
}
h1{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    padding: .25rem;
    margin: .5rem .5rem .15rem .5rem;
}
*,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    font-weight: 500;
}
button{
    font-family: 'Raleway', sans-serif;
    font-size: small;
    font-weight: 400;
    padding: .5rem;
    margin: .25rem;
    border-radius: 5px;
    border: none;
    background-color: #444440;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}
button:hover{
    background-color: #757969;
    font-weight: 600;
}

wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 80%;
}
.content div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.btn-holder {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .25rem;
    width: 30%;
}

.text-primary {
}

.text-secondary {
}

.text-tertiary {

}

