.sectionMap {
  min-height: 100vh;
  & h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 2.5em;
    margin: 1rem;
    padding: 0;
    text-align: center;
  }
  & .map {
    margin: 2rem 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
      flex-direction: column;
      margin: 1rem auto;
    }
  }

  .map-controls {
    background-color: #757969;
    width: 20vw;
    margin: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    & h2 {
      text-align: center;
      font-size: 1.5rem;
      color: white;
      padding: 1rem;
    }

    & .btn-holder {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: start;
      justify-content: start;
      gap: 1rem;
      width: 100%;
      padding: 0 0.5rem;

      & button {
        padding: 1rem;
        border-radius: 5px;
        background-color: #444440;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: #757969;
          color: white;
          font-weight: normal;
        }
      }
    }
    /*map container dans le component sinon c'est cassé */

    & .presentation {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 100%;
      height: 100%;
      background-color: #f1f8e9;

      & p {
        width: 100%;
        height: 100%;
        padding: 1rem;
      }
    }

    @media (max-width: 768px) {
      width: 80vw;
      margin: 1rem auto;
      padding: 0rem;
      gap: 0.25rem;
      & .btn-holder {
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        & button {
          padding: 0.25rem;
        }
      }

      & .presentation {
        gap: 0.25rem;
        & p {
          padding: 0.5rem;
          font-size: small;
        }
      }
    }
  }
}
